body
    background-color: black
    font-family: Arial, Helvetica, sans-serif


.navlink
    font-family: Arial, Helvetica, sans-serif


.vertical>a 
    font-family: 'Courgette', cursive

h1 
    font-family: 'Courgette', cursive


.concarou 
    position: relative

.allez
    position: absolute
    z-index: 100
    bottom: 45%

.btncarou
    position: absolute
    z-index: 100
    bottom: -150%


.bg
    opacity: 0.3
    max-width: 100%
    max-height: 100%

.bg1
    width: 100%
    height: 100%

.banner
    position: relative
    opacity: 0.3
    z-index: -1

.section2
    position: relative
    width: 100%
    background-color: white
    background: url(../../public/images/main_bg.jpg)

.container1
    background-color: white
    position: relative
  

.tri1
    position: absolute
    left: 0%
    top: 0%

.tri2
    position: absolute
    right: 0%
    top: 0%

.tri3
    position: absolute
    bottom: 0%
    left: 0%
    z-index: 7


.tri4
    position: absolute
    bottom: 0%
    right: 0%


.chefimg
    border-bottom: solid 1px white

    
.concafe
    border-bottom: solid 1px
    border-color:  #dfdfdf

.bf
    border-bottom: solid 1px
    border-color:  #dfdfdf

.lunch
    border-bottom: solid 1px
    border-color:  #dfdfdf


.snacks
    border-bottom: solid 1px
    border-color:  #dfdfdf

.dinner
    border-bottom: solid 1px
    border-color:  #dfdfdf

.contact
    width: 100%
    background: url(../../public/images/main_bg.jpg)

.conres
    width: 100%
    background: url(../../public/images/book_table_bg.jpg)
    border-radius: 15px

.pq
    width: 100%
    background: url(../../public/images/testimonials_background.jpg)

.card
    border: none
    border-radius: 15px

.cardss
    border-radius: 10px
    border: solid 1px grey

.cardss>p
    font-family: Arial, Helvetica, sans-serif

.concafe>p
    font-family: Arial, Helvetica, sans-serif

.cardimg
    border-radius: 20px

.knowmore
    font-family: Arial, Helvetica, sans-serif

.b1
    height: 1px
    background-color: white
    width: 150%
    opacity: 0.5
    

.footer
    width: 100%
    background: url(../../public/images/team_background.jpg)

.redfooter
    width: 100%
    height: 50px

.redcard
    position: absolute
    bottom: 140px
    width: 80%
    border-radius: 10px
    

.textcardcontact
    font-family: Arial, Helvetica, sans-serif

.btntheme
    font-family: Arial, Helvetica, sans-serif
    opacity: 0.6

.btnlearn
    font-family: Arial, Helvetica, sans-serif
    opacity: 0.6

.btns
    position: absolute
    top: 140%

.textfooter
    font-family: Arial, Helvetica, sans-serif

.textmenu>p
    font-family: Arial, Helvetica, sans-serif

.deco
    position: absolute
    width: 100%
    background: url(../../public/images/bottom_decoration_img.png)
    z-index: 5

.nav-link.active
    border-right: solid 5px #C53A41
    border-bottom: solid 1px lightgrey
    i 
        color: #C53A41

.nav-link 
    border-right: solid 1px lightgrey
    border-bottom: solid 1px lightgrey

.fab
    color: white
